* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 8px; */
}
.box {
  border-style: solid;
  border-color: black; /* or your color */
  border-width: 0; /* all borders hidden by default */
  /* padding: 3rem; */

  font-size: 4rem;
  font-weight: 900;
  /* box-sizing: border-box; */
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 { background-color: brown;        border-width: 0 5px 5px 0; }
.box2 { background-color: red;          border-width: 0 5px 5px 5px; }
.box3 { background-color: yellow;       border-width: 0 0   5px 5px; }

.box4 { background-color: blue;         border-width: 5px 5px 5px 0; }
.box5 { background-color: yellowgreen;  border-width: 5px; }
.box6 { background-color: orangered;    border-width: 5px 0 5px 5px; }

.box7 { background-color: magenta;      border-width: 5px 5px 0 0; }
.box8 { background-color: mediumseagreen; border-width: 5px 5px 0 5px; }
.box9 { background-color: aliceblue;    border-width: 5px 0 0 5px; }

